/softcane/users/migrations/__pycache__
/softcane/users/__pycache__
/softcane/tenant/__pycache__
/softcane/tenant/migrations/__pycache__
/softcane/stock/__pycache__
/softcane/stock/migrations/__pycache__
/softcane/softcane/__pycache__
/softcane/location/__pycache__
/softcane/location/migrations/__pycache__
/softcane/hr/migrations/__pycache__
/softcane/hr/__pycache__
/softcane/dashboard/__pycache__
/softcane/dashboard/migrations/__pycache__
/softcane/accounting/__pycache__
/softcane/accounting/migrations/__pycache__
/softcane/.idea
