{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Packed Cane Entries</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Packed Cane Entries</li>
							</ol>
						</nav>
					</div>

				</div>
				<!--end breadcrumb-->
				<div class="row">
					<div class="col-xl-12 mx-auto">
						<div class="d-flex justify-content-end">
							<a href="{% url 'packed_cane_create' %}" class="btn btn-primary btn-sm"><i class="bx bx-plus"></i>Packed cane information<a/>
						</div>
						<hr/>
						<div class="card">

							<div class="card-body">
								<div class="table-responsive">
								<table id="example2" class="table table-striped table-bordered" style="width:100%">
									<thead>
										<tr>
											<th scope="col">Delivery Note</th>
											<th scope="col">Date</th>
											<th scope="col">Branch</th>
											<th scope="col">Zone</th>
											<th scope="col">Sub-Location</th>
											<th scope="col">Field</th>
											<th scope="col">Tractor</th>
											<th scope="col">Driver</th>
											<th scope="col">Loaded by 1</th>
											<th scope="col">Loaded by driver 1</th>
											<th scope="col">Loaded by 2</th>
											<th scope="col">Loaded by driver 2</th>
											<th scope="col">Stacks</th>
											<th scope="col">Posted By</th>
											<th scope="col">Posted Date</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
                                    {% for i in packed_cane %}
										<tr>
											<td>{{i.delivery_note}}</td>
											<td>{{i.date}}</td>
											<td>{{i.branch_of_origin}}</td>
											<td>{{i.trip_zone}}</td>
											<td>{{i.trip_sub_location}}</td>
											<td>{{i.trip_field}}</td>
											<td>{{i.tractor}}</td>
											<td>{{i.driver}}</td>
											<td>{{i.loaded_by_1}}</td>
											<td>{{i.loading_driver_1}}</td>
											<td>{{i.loaded_by_2}}</td>
											<td>{{i.loading_driver_2}}</td>
											<td>{{i.stacks}}</td>
											<td>{{i.posted_by}}</td>
											<td>{{i.posted_date}}</td>
											<td><a href="{{i.packed_cane_id}}/packed_cane_update/"><span style="font-size:15px" class="bx bx-pencil text-success" aria-hidden="true"></span></a>
												<a href="{{i.packed_cane_id}}/packed_cane_delete/"><span style="font-size:15px" class="bx bx-trash text-danger" aria-hidden="true"></span></a></td>
										</tr>
                                    {% endfor %}
									</tbody>
								</table>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!--end row-->
			</div>
		</div>
		<!--end page wrapper -->


{% endblock %}